# =========================
# Build
# =========================
target/
build/
*.log

# =========================
# IDE - IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/

# =========================
# Environment
# =========================
.env

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar